ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8942f4;
}

li {
    float: left;
}

li a {
    display: block;
    color: #d6b7ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #bd8cff (purrpurr) on hover */
li a:hover {
    background-color: #bd8cff;
    color: #8942f4;
}

.p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 14pt;
    text-align: center;
}

h1 {
    font-family: "Trebuchet MS", cursive, sans-serif;
    text-align: center;
}

h2 {
    font-family: "Papyrus", fantasy;
    font-size: 16pt;
    text-align: center;
}

  
img {
  width: 270px;
  height: 240px;
  border-color: mediumpurple;
  border-width: 4px;
  border-style: dotted;
  border-radius: 70px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.credit {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 10pt;
    text-align: center;
}

table, th, td {
    border: 1px solid;
    border-color: #8942f4;
    border-collapse: collapse;
    text-decoration: none;
    
}

.table {
    margin-left:auto; 
    margin-right:auto;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 14pt;
    margin-top: 30px;
  }

body { 
   text-align:center;
}

a {
    color: black;
    text-decoration: none;
}
