ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cb99fc;
}

li {
    float: left;
}

li a {
    display: block;
    color: af5eff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family
}

/* Change the link color to #debcff (purrpurr) on hover */
li a:hover {
    background-color: #debcff;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
    font-family: "Trebuchet MS", cursive, sans-serif;
}

h2 {
    font-family: "Papyrus", fantasy;
}

img {
    float: right;
}
  
#paragraphs {
    float: left;
}
